PORT=4000
JWT_SECRET=cambiar_en_produccion_secreto_largo_y_aleatorio
JWT_EXPIRES_IN=24h
CORS_ORIGINS=*
NODE_ENV=development

# Base de datos
# Local (desarrollo): usa archivo SQLite local
TURSO_DB_URL=file:./data/gastro.db
TURSO_AUTH_TOKEN=

# Producción (Turso cloud):
# TURSO_DB_URL=libsql://nombre-usuario.turso.io
# TURSO_AUTH_TOKEN=tu-token-aqui
